# keep-sorted start
*.exe
*requirements.txt
.editorconfig
.envrc*
.git
.github
.gitignore
.goreleaser.yaml
.idea
.markdownlint-cli2.yaml
.mise*
.pre-commit-config.yaml
.prettier*
.prettierrc
.python-version
.tp.toml
.typos.toml
.venv
.vscode
README.md
example
gh-actlock
gh-install
gh-tp
node_modules
package.json
pnpm-lock.yaml

# keep-sorted end
