name: Lint Commits
on: [pull_request]

permissions:
  contents: read

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  committed:
    name: Lint Commits
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0
      - name: Lint Commits
        uses: crate-ci/committed@dc6f20ddd899fe6d6f0402807884c0a4b3176b53  # v1.1.10
