name: golangci-lint

on:
  pull_request:
    branches:
      - "main"
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

env:
  SKIP: ${{ vars.SKIP }}

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  golangci-reusable:
    uses: esacteksab/.github/.github/workflows/golangci-lint.yml@414d276e04cc591f41013a98b82a7640922faaf8  # v0.71.4
